.modalTitle {
  position: relative;
  left: 11rem;
}

.saveButton {
  /* background-color: #f14668;
    border-color: #f14668; */
  background-color: #ff9494;
  border-color: #ff9494;
}

.saveButton:hover {
  background-color: #e90064;
  border-color: #e90064;
}

.modalHeader {
  background-image: linear-gradient(to right, #ffe3e1, #ffd1d1, #ff9494);
}

.dropdown {
  background-color: #ff9494;
  border-color: #ff9494;
}

.dropdown:hover {
  background-color: #e90064;
  border-color: #e90064;
}

.alert {
  font-size: small;
}
