.productsCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  height: fit-content;
}

.cardHeader {
  background-color: #ffd1d1;
}

.addButton {
  background-color: #f14668;
  border-color: #f14668;
}

.addButton:hover {
  background-color: #9ba4b5;
  border-color: white;
}

.deleteIcon:hover {
  color: gray;
  cursor: pointer;
}

@media (max-width: 480px) {
  .productsCard {
    width: 20rem;
  }
}

@media (min-width: 480px) {
  .productsCard {
    width: 40rem;
  }
}
