html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  background-image: linear-gradient(to right, #ffe3e1, #ffd1d1, #ff9494);
  background-color: #ffffff;

  background-size: 100% 50%;
  background-position: bottom;
  background-repeat: no-repeat;
}
