@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.welcomeApp {
  font-family: "Lobster", cursive;
  color: #ee6983;
}

.welcomeHeading {
  color: #ee6983;
}

.welcomeImg {
  max-width: 30%;
}

.welcomeDiv {
  background-image: linear-gradient(to right, #ffe3e1, #ffd1d1, #ff9494);
  background-color: #ffffff;

  background-size: 100% 50%;
  background-position: bottom;
  background-repeat: no-repeat;
}
